.notificaions-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    margin-bottom: 2%;
    padding: 0% 2%;
    background-color: white;
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
}
.notificaion-action {
    display: flex;
}

.notification-action__Categories {
    display: flex;
}

.approve-title {
    margin-right: 32px;
    margin-left: 32px;
}