.pagination-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.paginaion-nav__Left {

}

.pagination-nav__Right {

}

.pagination-nav__Right  span {
    border: 1px solid white;
    padding: 4px;
}

#back-icon {
    margin-right: 8vw;
    cursor: pointer;

}

#next-icon {
    cursor: pointer;

}