.products-page-supporting-content {
    padding: 1.7% 2%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr; 
    grid-gap: 1.7% 2%;
}

.products-page-header {
    display: flex;
    align-items: baseline; 
    justify-content: space-between;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    margin-top: 0%;
    margin-bottom: 0%;
    height: fit-content;
}

.products-page-main {
    grid-column: 1 / 2;
    grid-row: 2 / 3; 
}


.products-table-header-row {
    border-bottom: 1px solid white;
}

.products-table {
    width: 100%;
    border-collapse: collapse;
}

.products-table tr {
    border: 2px solid white;
    text-align: left;

}

.products-table td {
    padding: 2% 1% 2% 0%;
    text-align: left;

    /* background-color: red; */
}

th {
    text-align: left;

}