.sign-up-card {
    display: flex;
    padding: 16px;
}

.sign-up-card__One {
    max-width: 40%;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}

.sign-up-card__One  img {
    object-fit: cover;
    width: 100%;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}

.sign-up-card__Two {
    width: 100%;
}
